body {
    height: 600px;
    position:relative;
    margin:20px;

}


.link {

    margin-left:5px;
}

.container{
    margin-top: 78px;
    text-align: center;
}

.container2 { 
    margin-top: 50px;
}
.google_logo{
    margin: 0 auto;
}
@media (min-width: 900px) {
    .box {
        margin : 20px;
        height:44px;
        width: 40%;
        flex: 100%;
        border-radius: 25px;
        padding: 20px;
    }

    .anchor {
        text-align: right;
        font-family: Arial, sans-serif; 
        margin-bottom: 10px; 
        }
}
@media (max-width: 899px) {
    .box {
        margin :  20px 0 20px 0;
        height:44px;
        width: 92%;
        flex: 100%;
        border-radius: 25px;
        padding: 20px;
    }
    .anchor {

        text-align: center;
        font-family: Arial, sans-serif; 
        margin-bottom: 10px; 
        }
}

.box:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12),0 10px 10px 0 rgba(0,0,0,0.10);
  }  

.sub_button {
    margin-left: 10px;
}

.logo_img { 
    display: inline-block;
    width:272;
    height:92;
    position: relative;
}
.text_images {
    position:absolute;
    bottom:0;
    right:0;
    color:blue;
    font-size: large;
}

.container2 {
    position: relative;
}

.hr {
    margin: 0 auto;
}

.adv_search_text {

    color: red;
    font-size: larger; 
}

.find_text {
    margin-bottom: 5px;

}

.label {
    width: 200px;
    margin-bottom: 10px;


}

.adv_box {
    width: 300px;
    margin-bottom: 10px;    
}

.fm{
    position:relative;
}

.adv_button {
    background-color: rgb(48,121,237);
    color: white;
}

.adv_button:hover {
    background-color: rgb(38, 100, 198);
  }  


